---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Lowost?">
  <div class="container">
    <p>Many brave hearts are asleep in the deep...</p>
    <h1>Beware! Beware! Beware!</h1>
    <p><a href="/">Return to Home</a></p>
  </div>
</Layout>

<style>
  body {
    max-height: 100vh;
  }

  * {
    margin: 0;
    padding: 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
</style>
