---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <main>
    <blockquote class="armstrong-quote">
      <line class="employer">
        <p>Employee, thanks for coming in. Time for your interview!</p>
        <p>How do you <b>project</b>?</p>
      </line>

      <line class="employee">
        <p>Bathe in work call.</p>
      </line>

      <line class="employer">
        <p>WHAT?</p>
        <p>The job is yours.</p>
      </line>

      <div class="source">
        <span>Employer Company Rising: Rehiring</span>
      </div>
    </blockquote>

    <section>
      <h2>The Company</h2>
      <!-- <p>Untitled Company is very much a real company hm yes.</p> -->
      <blockquote>
        <p>
          Untitled Company is a place for those wishing to rise in the employer
          employer world. It is focused on aspiring employees but may evolve to
          encompass employers.
        </p>
        <p>
          Untitled Company strives to provide a good working environment,
          resources and guidelines to achieve our shared goal: <b
            >world domination</b
          >.
        </p>

        <p>
          Next up, <b>Obeya</b>.
        </p>

        <div class="source">The College Obeya - Mewoooo (paraphrased)</div>
      </blockquote>

      <p>Untitled company was founded</p>
    </section>

    <section>
      <h2>The Obeya <span class="obeya-addon">(大部屋)</span></h2>
      <p>
        The Obeya is where most of this company's work happens. It is where the
        harpers harp, where the minstrels sing, and where the trumpets ring.
      </p>
    </section>
  </main>
</Layout>

<style>
  .obeya-addon {
    font-size: 0.5em;
    opacity: 0.5;
    font-style: italic;
  }

  blockquote {
    border-left: 0.1em solid var(--text);
    margin: 1.5em 10px;
    padding: 0em 10px;
    font-style: italic;
    color: #e3e3e3;
    quotes: "“" "”" "‘" "’";
  }

  blockquote .source {
    margin: 0.5em;
    font-style: normal;
    font-weight: bold;
    font-size: 0.8em;
    text-align: right;
  }

  blockquote p {
    margin: 0.5em;
  }

  blockquote:not(.armstrong-quote) p:first-of-type::before {
    content: open-quote;
    font-weight: bold;
    opacity: 0.5;
  }

  blockquote:not(.armstrong-quote) p:last-of-type::after {
    content: close-quote;
    font-weight: bold;
    opacity: 0.5;
  }

  .armstrong-quote line:not(:last-of-type) {
    margin-bottom: 2em;
    display: block;
  }

  .armstrong-quote .employer p::before {
    content: "Employer: ";
    font-weight: bold;
    opacity: 0.5;
  }

  .armstrong-quote .employer:first-of-type p:first-child::before {
    content: open-quote "Employer: ";
    font-weight: bold;
    opacity: 0.5;
  }

  .armstrong-quote .employee:first-of-type p:first-child::before {
    content: open-quote "Employee: ";
    font-weight: bold;
    opacity: 0.5;
  }

  .armstrong-quote .employee p::before {
    content: "Employee: ";
    font-weight: bold;
    opacity: 0.5;
  }

  .armstrong-quote .employer:last-of-type p:last-child::after {
    content: close-quote;
    font-weight: bold;
    opacity: 0.5;
  }

  .armstrong-quote .employee:last-child p:last-child::after {
    content: close-quote;
    font-weight: bold;
    opacity: 0.5;
  }
</style>
