---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <main>
    <blockquote class="armstrong-quote">
      <line class="employer">
        <p>Employee, thanks for coming in. Time for your interview!</p>
        <p>How do you <b>project</b>?</p>
      </line>

      <line class="employee">
        <p>Bathe in work call.</p>
      </line>

      <line class="employer">
        <p>WHAT?</p>
        <p>The job is yours.</p>
      </line>

      <div class="source">
        <span>Employer Company Rising: Rehiring</span>
      </div>
    </blockquote>

    <section>
      <h2>The Company</h2>
      <!-- <p>Untitled Company is very much a real company hm yes.</p> -->
      <blockquote>
        <p>
          Untitled Company is a place for those wishing to rise in the employer
          employer world. It is focused on aspiring employees but may evolve to
          encompass employers.
        </p>
        <p>
          Untitled Company strives to provide a good working environment,
          resources and guidelines to achieve our shared goal: <b
            >world domination</b
          >.
        </p>
        <div class="source">The College Obeya - Mewoooo (paraphrased)</div>
      </blockquote>

      <p>
        Untitled company was founded by Employer Employer himself,
        <b>Tudyslaier</b>, on a rigurous interviewing process<sup
          >(see quote 1)</sup
        >. Only the most elite employees, with the most relevant, up to date,
        and interesting portfolios pass the interviewing process, and only the
        even more skillful actually get hired.
      </p>
      <p>
        For more information, see the <a class="alt" href="/employees"
          >employees</a
        > page.
      </p>
    </section>

    <section>
      <h2>The Obeya <span class="obeya-addon">(大部屋)</span></h2>

      <p>
        The Obeya is where most of this company's work happens. It is where the
        harpers harp, where the minstrels sing, and where the trumpets ring.
      </p>

      <p>
        In other words, so far, the Obeya is a Discord call in which all of our
        work is done. Be it alone work, game jams or even Letters Leagues, we
        are always mentaly in the Obeya.
      </p>

      <img
        class="full-wdith"
        src="/obeya_call.png"
        alt="A screenshot of the Obeya call"
      />
      <h3>The Rules of the Obeya</h3>

      <blockquote>
        <p>Mindset</p>
        <ol start="1">
          <li>
            People come together in the Obeya to respectfully see, learn & act
            on vital information
          </li>
          <li>
            People are committed to engage in continuous improvement, resolving
            obstacles along the way
          </li>
        </ol>

        <p>Alignment</p>
        <ol start="3">
          <li>In the Obeya, we communicate a strong sense of purpose</li>
          <li>
            Purpose is recognizably tied to our organizational strategy through
            meaningful objectives
          </li>
          <li>
            The Obeya connects strategy to execution with visible orientation on
            customer experience
          </li>
          <li>
            The Obeya meetings have a rhythm in sync with the operational
            heartbeat of the organization
          </li>
        </ol>

        <p>Workspace</p>
        <ol start="7">
          <li>
            The Obeya visuals provide a logical and practical information and
            conversation flow
          </li>
          <li>
            The Obeya reflects a good understanding of the flow of work from
            start to delivery
          </li>
          <li>
            The Obeya is an attractive and available area, in proximity to the
            workfloor
          </li>
        </ol>

        <p>Content</p>
        <ol start="10">
          <li>
            In the Obeya, we use analytics-driven-evidence to make business
            decisions.
          </li>
          <li>
            Data owners ensure information is easy to consume, readily
            available, up to date, and visually attractive
          </li>
        </ol>
        <div class="source">
          <a href="https://en.wikipedia.org/wiki/Obeya">Wikipedia</a>
        </div>
      </blockquote>

      <ol start="13">
        <li class="accent">No samsung default alarm.</li>
      </ol>
    </section>

    <section>
      <h2>This Website</h2>
      <p>
        This website is our attempt at bridging the gap between us, the Obeya
        and <i>the Public<sup>TM</sup></i>.
      </p>
      <p>
        Currently, it is an absolute piece of 🗑️, but we are actively working
        towards fixing it and making it ... any good. The reasons for this are:
      </p>
      <ol>
        <li>Items do not fit in</li>
        <li>We, oursevles, are unsure of what we want this website to be</li>
        <li><s>... my skill as a web developer, perhaps?</s></li>
      </ol>
      <p>
      For more technical information, you can check out <a class="alt"
          href="https://github.com/CalcoDev/UntitledWebsite"
          >the source code on Github</a
        >.
      </p>
    </section>
  </main>

  <style>
    .full-wdith {
      width: 100%;
    }

    .accent {
      font-weight: bold;
    }

    .obeya-addon {
      font-size: 0.5em;
      opacity: 0.5;
      font-style: italic;
    }

    blockquote {
      border-left: 0.1em solid var(--text);
      margin: 1.5em 10px;
      padding: 0em 10px;
      font-style: italic;
      color: #e3e3e3;
      quotes: "“" "”" "‘" "’";
    }

    blockquote .source {
      margin: 0.5em;
      font-style: normal;
      font-weight: bold;
      font-size: 0.8em;
      text-align: right;
    }

    blockquote p {
      margin: 0.5em;
    }

    blockquote:not(.armstrong-quote) p:first-of-type::before {
      content: open-quote;
      font-weight: bold;
      opacity: 0.5;
    }

    blockquote:not(.armstrong-quote) p:last-of-type::after {
      content: close-quote;
      font-weight: bold;
      opacity: 0.5;
    }

    .armstrong-quote line:not(:last-of-type) {
      margin-bottom: 2em;
      display: block;
    }

    .armstrong-quote .employer p::before {
      content: "Employer: ";
      font-weight: bold;
      opacity: 0.5;
    }

    .armstrong-quote .employer:first-of-type p:first-child::before {
      content: open-quote "Employer: ";
      font-weight: bold;
      opacity: 0.5;
    }

    .armstrong-quote .employee:first-of-type p:first-child::before {
      content: open-quote "Employee: ";
      font-weight: bold;
      opacity: 0.5;
    }

    .armstrong-quote .employee p::before {
      content: "Employee: ";
      font-weight: bold;
      opacity: 0.5;
    }

    .armstrong-quote .employer:last-of-type p:last-child::after {
      content: close-quote;
      font-weight: bold;
      opacity: 0.5;
    }

    .armstrong-quote .employee:last-child p:last-child::after {
      content: close-quote;
      font-weight: bold;
      opacity: 0.5;
    }
  </style>
</Layout>
