---
import ProjectIslandsContainer from "../components/ProjectIslandsContainer";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Projects">
  <main>
    <ProjectIslandsContainer client:load />
  </main>
</Layout>
