---
interface Props {}
---

<footer>
  <hr />
  <p>
    (c) never - no one.
    <br />
    0 <i>(zero)</i> rights reserved. 💀
  </p>
  <p class="upper">
    <a class="alt" href="mailto:calcopoddev@gmail.com">calcopoddev@gmail.com</a>
  </p>
  <p class="lower">
    <a class="alt" href="discord">Discord</a> work call
  </p>
</footer>

<style>
  footer {
    max-width: 42em;
    padding: 0rem 1rem;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  footer p {
    text-align: center;
  }

  .marg {
    text-align: center;
  }

  .upper {
    margin-bottom: 0.2em;
  }

  .lower {
    margin-top: 0.2em;
  }
</style>
