---
interface Props {}
---

<a class="alt invit" href="/tudyjam">
  <img
    class="invitation"
    src="/tudyjam/dont_tudyjam_at_3_am.png"
    alt="Tudyjam invitation card"
  />
</a>

<!-- Randomly offset the tudyjams -->
<script>
  let e = document.querySelector("a.invit")!;

  const moveToRandomX = () => {
    e.style.left =
      Math.ceil(
        Math.random() * (window.innerWidth - e.getBoundingClientRect().width)
      ) + "px";
  };
  const moveToRandomY = () => {
    e.style.top =
      window.scrollY +
      Math.ceil(
        Math.random() * (window.innerHeight - e.getBoundingClientRect().height)
      ) +
      "px";
  };

  moveToRandomX();
  moveToRandomY();

  const moveToRandomPos = () => {
    moveToRandomX();
    moveToRandomY();
  };

  const checkWindowSize = () => {
    let rect = e.getBoundingClientRect();
    console.log(rect.x, rect.width, window.innerWidth);
    if (
      rect.right > window.innerWidth ||
      rect.left < 0 ||
      rect.top < 0 ||
      rect.bottom > window.innerHeight
      //   false
    ) {
      moveToRandomPos();
    }
  };

  const elemScroll = () => {
    let rect = e.getBoundingClientRect();
    if (rect.top < 0 || rect.bottom > window.innerHeight) {
      moveToRandomPos();
    }
  };

  window.addEventListener("resize", checkWindowSize);
  window.addEventListener("scroll", elemScroll);
</script>

<style>
  a {
    position: absolute;
    z-index: 1;

    transition: scale 0.1s;
  }

  img {
    max-width: 100vw;
  }

  a:hover {
    scale: 0.9;
  }
</style>
